Django==5.2.6
asgiref==3.11.0
sqlparse==0.5.4
tzdata==2025.2

# Forms & UI
django-widget-tweaks==1.5.0
django-filter==25.1

# Media & PDFs
Pillow==11.3.0
reportlab==4.4.6

# HTTP (optional, safe)
requests==2.32.5

